<html>
  <head>
    <title> Pollen Data </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/pollen-data.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    
</head>
  </head>
  <body>
    <h1> Pollentypes </h1>
    <p>Grass pollen:</p>
    <p>Ragweed pollen:</p>
    <p>Birch pollen:</p>
    <p>Rye Pollen:</p>
    <p>Hazel pollen:</p>
    <p>Alder Pollen:</p>
    <p>Ash pollen:</p>
    <p>Mugwort pollen:</p>
  
  </body>
   
</html>
